<form action="/api/user/signup" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Имя в приложении:</label>
        <input type="text" name="displayName" />
    </div>
    <div>
        <label>Почта:</label>
        <input type="email" name="email" />
    </div>

    <div>
        <input type="submit" value="Зарегистрироваться" />
    </div>
</form>
